*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}

.box{
    height: 200px;
    width: 200px;
    background-color: red;
}
button{
    padding: 10px 50px;
    background-color: red;
    color: rgb(52, 49, 49);
}