*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
/* 
.outer{
    height: 400px;
    width: 400px;
    background-color: lightblue;
}
.inner1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: blue;
    
}
.inner2{
    height: 200px;
    width: 200px;
    /* border-radius: 50%; */
    /* background-color:crimson; */
    /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
/* } */ 

.main{
    height: 100%;
    width: 100%;
}
.elem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 10px;

}
button{
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
}