*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: peru;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #box{
    height: 300px;
    width: 300px;
    background-color: purple;
}
img{
    height: 300px;
    
} */

#cursor{
    height: 30px;
    position: fixed;
    transform: translate(-50%,-50%);
}

h1{
    font-size: 100px;
    background-color: rgb(105, 99, 99);
    padding: 20px;
    border-radius: 15px;
    font-family: monospace;
}