*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;

}
body{
    background-image: url(https://plus.unsplash.com/premium_photo-1668241683570-958ed3a9156e?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8YWxvbmV8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}
:root{
    --x:400px;
    --y:400px;
}
.box{
    height: 100%;
    width: 100%;
    /* background-color: crimson; */
    border: 1px solid white;
    /* background: linear-gradient(in oklab to right, white,red, purple); */
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0),rgba(12, 12, 13, 0.848));
    /* background-color: var(--red); */

}