*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;


}
button:active{
    scale: 0.98;
}

h1{
    white-space: nowrap;
}