*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color:green;
    color: white;
    border-radius: 5px;

    
}
main{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
button:active{
    transform: scale(0.98);
}

.card{
    /* height: 300px;
    width: 600px; */
    background-color:rgb(167, 165, 165);
    padding: 35px;
    
}
.outer{
    height: 20px;
    width: 100%;
    border-radius: 50px;
    background-color: gainsboro;
    
}
.inner{
    height: 100%;
    width: 50%;
    background-color: green;
    border-radius: 50px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom h2{
    font-size: 60px;
}
.card p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.card p span{
    font-weight: bold;
    color: royalblue;
    font-size: 20px;
}