*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    
    
}
.elem{
    display: flex;
    margin-bottom: 5px;
    justify-content: space-evenly;
    padding: 30px;
    align-items: center;
    background-color: #333;
    
}
button{
     padding: 20px 30px;
     background-color: blue;
     border-radius: 10px;

}
